body {
  margin: 0;
  background-color: black;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.morse-text {
  font-family: monospace;
  font-size: 2rem;
  color: limegreen;
  letter-spacing: 4px;
  text-shadow: 0 0 10px limegreen, 0 0 20px limegreen;
}
